body {
    background-color: black;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1px;
    margin:0px 300px; 
}

html{
    background-color: #ffffff;
    width: 100%;
    /* border:2px solid black; */
    
}

#image{
    background-image: url(used.jpeg);
    background-position: center;  
    background-repeat: no-repeat; 
    background-size:100%;
    border: 2px solid black;
    margin:0px 0px 0px 0px;
    overflow: scroll;
    width: 99.5%;
    height: 200px;
}
div.head{
    padding: 1px;
    /* background-color:  rgb(28, 124, 92);; */
    background-color: #4daea1;
    border: 2px solid #31706c;
    border-radius: 0px 0px 5px 5px;
    height: 110px;
}

.head h1{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin: 12px ;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;

}
.head h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    font-size: 20px;
}

.form{
    margin: 10px 100px 10px 100px;
    border: solid black;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: left;
    background-color: white;
    
}
.inside_form{
    margin: 10px 20px;
}

p{  
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

#first {
    border-radius: 5px;
    height: 25px;
    width: 100px;
    font-size: 20px;
    text-align: center;
}

#second {
    border-radius: 5px;
    height: 25px;
    font-size: 20px;
    text-align: center;
}

#third {
    border-radius: 5px;
    height: 25px;
    font-size: 20px;
    text-align: center;
}

#fourth {
    border-radius: 5px;
    height: 25px;
    font-size: 20px;
    text-align: center;
} 

input[type="submit"] {
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #4daea1;
    color: white;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color:#31706c;
}
.result{
    background-color: rgb(0, 123, 255);
    margin: 0px 100px;
    color: white;
    border-radius:4px ;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#fuel , #resea , #research{
    margin: 2px;
    padding: 2px;
    border:1px solid black;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
}

#fuel:hover , #resea:hover , #research:hover{
    color: white;
    background-color: rgb(0, 123, 255);
}

#box {
    border-radius: 60px;
    border-color: 45px;
    border-style: solid;
    font-family: cursive;
    text-align: center;
    background-color: rgb(168, 131, 61);
    font-size: medium;
    position: absolute;
    width: 700px;
    bottom: 9%;
    height: 850px;
    right: 30%;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}
